.wrapper {
    max-width: 1020px;
    margin: 0 auto;
    background-color: #000000;
}

.header-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header img {
    width: 100px;
    height: 100px;
}

.header-text {
    font-family: 'Anonymous Pro', monospace;
    color: #01da30;
}

.header-text h1 {
    margin-bottom: 0%;
}

.header-text p {
    margin-top: 0%;
    font-weight: bold;
    text-align: end;
}

.header-inner {
    padding: 15px;
    border-bottom: 3px solid #7d97ad;
    overflow:auto;
}

.sec-main-img {
    width: 90%;
    margin: 5%;
}

.article {
    width: 30%;
}

.img-main {
    width: 100%;
}

.content-title {
    color: #01da30;
    font-family: 'Anonymous Pro', monospace;
    padding-left: 5%;
}

.article-img {
    width: 120px;
    height: 120px;
}

.contacts-content-flex-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%
}

.column {
    float: left;
    width: 30%;
    align-content: center;
    text-align: center;
}

.column h4 {
    font-family: 'Anonymous Pro', monospace;
    text-transform: uppercase;
    color: #01da30;
}

.column a {
    color: #01da30;
}

@media screen and (min-width:400px) and (max-width: 520px) {
    .header-text {
        font-family: 'Anonymous Pro', monospace;
        color: #01da30;
        font-size: 80%;
        padding: 20px;
    }
}

@media screen and (max-width: 399px) {
    .column{
        width: 100%;
        padding: 5% 0;
    }

    .header img {
        width: 75px;
        height: 75px;
        padding-top: 2%
    }

    .header-text {
        font-family: 'Anonymous Pro', monospace;
        color: #01da30;
        font-size: 75%;
    }
}